<h1>Homepage</h1><br>

<h2>ALL PATRONS</h2>
<% @patrons.all.each do |patron| %>
    <%= patron.name %> |
<% end %>

<hr>

<h2>ALL BOOKS</h2>
<% @books.all.each do |book| %>
    <p><%= book.title %> | <%= book.author %> | <%= book.year %> | <%= book.available %></p>
<% end %>

<hr>

<h2>ALL CHECKOUTS</h2>
<% @checkouts.all.each do |checkout| %>
    <p><%= checkout.checked_outs %> | <%= checkout.checked_ins %> | <%= checkout.created_at %></p>
<% end %>
