<h1>LIBRARY</h1><br>

Number of books in inventory: <%= @books.count %>

<h2>ALL BOOKS CHECKED-IN</h2>
<ul>
<% @books.all.each do |book| %>

    <% if book.available == true %>
    <li>
      <%= link_to "CHECK-OUT", '#' %>
        <%= link_to book.title, edit_book_path(book) %> | <%= book.author %> | <%= book.year %> | <%= book.id %> | <%= book.available %>
    </li>
  <% end %>
<% end %>
</ul>

<h2>ALL BOOKS CHECKED-OUT</h2>
<ul>
<% @books.all.each do |book| %>

    <% if book.available == false %>
    <li>
        <%= link_to "CHECK-IN", '#' %>
        <%= book.title %> | <%= book.author %> | <%= book.year %> | <%= book.id %> | <%= book.available %>
    </li>
  <% end %>
<% end %>
</ul>
